$color--black: #000;
$color--white: #fff;
$color--blue: #1b29f2;
$color--gray: #5a5a63;

$font-size--30: 30px;
$font-size--24: 24px;
$font-size--20: 20px;
$font-size--16: 16px;

$window-size--1000: 1000px;
$window-size--720: 720px;
$window-size--580: 580px;
